
.about-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  padding: 30px 0px;
  width: 100%;

  @media screen and (min-width: $sm) {
    flex-direction: row;
    padding: 100px 0px;
  }
}
.about-block {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 10px 15px 0px rgba(0,0,0,.5);
  flex: 1;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
  transition: margin 0.2s ease-in-out;
  width: 100%;
  @media screen and (min-width: $sm) {
      width: 50%;
  }
}
.about-block:first-child {
  @media screen and (min-width: $sm) {
    margin-right: 5%;
  }
}


.about-image{

}
