.about-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  //flex: 1;
  padding: 75px 0px 30px 0px;
  width: 100%;

  @media screen and (min-width: $sm) {
    flex-direction: row;
    padding: 100px 0px;
  }
}
.about-block {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.5);
  flex: 1;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 15px;
  transition: margin 0.2s ease-in-out;
  width: 100%;
  @media screen and (min-width: $sm) {
    width: 50%;
  }
}
.about-block:first-child {
  @media screen and (min-width: $sm) {
    margin-right: 5%;
  }
}

.about-image.image {
    height: 150px;
    transform: translate(0px,-100px);
  @media screen and (min-width: $xs) {
    height: 200px;
    
  }
  @media screen and(min-width: $sm) {
    height: 250px;
  }
  @media screen and(min-width: $sm) {
    height: 250px;
    
  }
  
}

.about-title{
  color: #fff;
  font-size: 20px;
  transition: font-size .2s ease-in-out;
  @media screen and (min-width: $xs) {
    font-size: 24px;
    
  }
  margin: 0px 0px 30px 0px;
  text-align: center;
}
.about-body{
  margin-top: -100px;
  p{
    color: #fff;
    font-size: 18px;
    transition: font-size .2s ease-in-out;
    @media screen and (min-width: $xs) {
      font-size: 20px;
      
    }

  }
  p:last-child::after{
    content: "...";
    display: block;
    font-size: 40px;
    text-align: center;
  }
}
