.carousel-wrapper {
  height: auto;
  width: 100%;
}
.carousel-item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 300px;
}

/* Projects Carousel */
.projects-carousel {
  
}

.project-wrapper {
  height: auto;
  width: auto;
}

.project-image {
  margin: 0 auto;
  text-align: center;
  img {
    height: auto;
    max-height: 600px;
    width: 100%;
  }
  .company-logo{
    width: auto;
    max-width: 80%;
    height: auto;
    max-height: 200px;
    background-color: rgba(35,0,70,0.1);
    padding: 15px 20px;
    border-radius: 4px;
  }
}

.project-description {
  h1 {
    color: $purble;
    line-height: 1;
    margin: 20px 0px;
    text-align: center;
    font-size: 24px;
    @media screen and (max-width: $sm){
      font-size : 20px;
      margin: 10px 0px;
    }
  }
  p {
    color: $dark-gray;
    margin: 10px 0px;
    text-align: center;
    @media screen and (max-width: $sm){
      font-size : 14px;
      margin: 5px 0px;
    }
  }
}

.project-links {
  display: flex;
  justify-content: center;
  img.icon {
    height: 32px;
    width: 32px;
    margin-right: 15px;
  }
}

.project-tags {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  max-width: 600px;
  text-align: center;
  flex-wrap: wrap;
  @media screen and (max-width: $sm){
    font-size : 13px;
    margin: 5px 10px;
  }
  span {
    border-radius: 2px;
    color: rgba(35, 0, 70, 1);
    font-weight: 500;
    line-height: 1;
    margin-right: 5px;
    padding: 0;
    @media screen and (max-width: $sm){
      margin-right: 3px;
    }
    &::before {
      content: "#";
      font-weight: 700;
    }
    
  }

}
