.contact-wrapper {
}

.contact-block {
}

.contact-header {
  color: $purble;
  font-size: 28px;
  margin: 0px 0px 15px 0px;
  text-align: center;
  transition: font-size 0.2s ease-in-out;
  @media screen and (min-width: $xs) {
    font-size: 32px;
  }
  @media screen and (min-width: $ms) {
    font-size: 36px;
  }
  @media screen and (min-width: $sm) {
    font-size: 38px;
  }
}

.contact-subheader {
  color: $purble;
  font-size: 20px;

  margin: 0px 0px 15px 0px;
  text-align: center;
  transition: font-size 0.2s ease-in-out;
  @media screen and (min-width: $xs) {
    font-size: 22px;
  }
  @media screen and (min-width: $ms) {
    font-size: 24px;
  }
  @media screen and (min-width: $sm) {
    font-size: 26px;
  }
}

.contact-item{
    margin-right: 10px;
    &:last-child{
        margin-right: 0px;
    }
    img{
        height: auto;
        width: 32px;
        transition: height,width  .2s ease-in-out;
        @media screen and (min-width: $xs) {
            width: 64px;
        }
    }
}
