.hero {
}

.hero-wrapper {
  background: url("./images/intro_bg.png") no-repeat top right;
  animation: hero-bg-anim 40s linear 2s infinite alternate;
  -webkit-animation: hero-bg-anim 40s linear 2s infinite alternate;
  -moz-animation: hero-bg-anim 40s linear 2s infinite alternate;
  -o-animation: hero-bg-anim 40s linear 2s infinite alternate;
}

.hero-title {
  text-decoration: none;
  h1 {
    animation: hero-title-anim 1s ease-in;
    -webkit-animation: hero-title-anim 1s ease-in;
    -moz-animation: hero-title-anim 1s ease-in;
    -o-animation: hero-title-anim 1s ease-in;
    color: #fff;
    font-size: 60px;
    margin: 0;
    //transform: translateY(-10px);
  }
}

.intro-section {
  height: 100vh;
  .name {
    color: aliceblue;
    font-size: 46px;
  }
}

.loaded .hero-title {
  /* animation: hero-title-anim 2s ease-in;
    -webkit-animation: hero-title-anim 2s ease-in;
    -moz-animation: hero-title-anim 2s ease-in;
    -o-animation: hero-title-anim 2s ease-in; */
}

@keyframes hero-title-anim {
  from {
    color: rgba(255, 255, 255, 0);
    transform: translateY(40px);
  }
  to {
    color: rgba(255, 255, 255, 1);
    transform: translateY(0px);
  }
}
@-webkit-keyframes hero-title-anim {
  from {
    color: rgba(255, 255, 255, 0);
    transform: translateY(40px);
  }
  to {
    color: rgba(255, 255, 255, 1);
    transform: translateY(0px);
  }
}
@-moz-keyframes hero-title-anim {
  from {
    color: rgba(255, 255, 255, 0);
    transform: translateY(40px);
  }
  to {
    color: rgba(255, 255, 255, 1);
    transform: translateY(0px);
  }
}
@-o-keyframes hero-title-anim {
  from {
    color: rgba(255, 255, 255, 0);
    transform: translateY(0px);
  }
  to {
    color: rgba(255, 255, 255, 1);
    transform: translateY(40px);
  }
}

@keyframes hero-bg-anim {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}
@-webkit-keyframes hero-bg-anim {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}
@-moz-keyframes hero-bg-anim {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}
@-o-keyframes hero-bg-anim {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}
