.hero {
  
  display: none;
  transition: margin .2s ease-in-out;
  @media screen and (max-height:$ms){
    margin-top: 65px;
  }

}

.hero-wrapper {
  animation: hero-bg-anim 42s linear 0s infinite alternate;
  -webkit-animation: hero-bg-anim 42s linear 0s infinite alternate;
  -moz-animation: hero-bg-anim 42s linear 0s infinite alternate;
  -o-animation: hero-bg-anim 42s linear 0s infinite alternate;
  background: url("./images/intro_bg.png") no-repeat top right;
}

.loaded .hero {

  animation: hero-anim 1.5s ease-in-out;
  -webkit-animation: hero-anim 1.5s ease-in-out;
  -moz-animation: hero-anim 1.5s ease-in-out;
  -o-animation: hero-anim 1.5s ease-in-out;
  display: block;

}



.hero-image {
  text-align: center;
  img {
    border: 10px solid #210042;
    border-radius: 50%;
    box-shadow: 15px 10px 20px 0px rgba(0,0,0,0.3);
    height: 200px;
    margin-bottom: 15px;
    transition: height 0.2s ease-in-out;
    width: auto;
  }
  @media screen and (min-width: $xs) {
    img {
      height: 250px;
    }
  }
  @media screen and(min-width: $sm) {
    img {
      height: 300px;
    }
  }
}

.hero-title {
  text-decoration: none;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 32px;
    line-height: 1;
    margin: 0;
    transition: font-size 0.2s ease-in-out;
  }
  @media screen and(min-width: $xs) {
    h1 {
      font-size: 40px;
    }
  }
  @media screen and(min-width: $sm) {
    h1 {
      font-size: 55px;
    }
  }
}

.red-m{
  color: $red;
}

.hero-subtitle {
  color: #fff;
  margin: 20px 0px 0px 0px;
  text-align: center;
  transition: font-size 0.2s ease-in-out;
  .qoute {
    font-size: 20px;
    line-height: 1;
    //margin: 5px;
  }
  .line {
    display: block;
  }
  &:after{
    content: "...";
    display: block;
    font-size: 40px;
  }
  .line--main{
    font-size:14px; 
    @media screen and(min-width: $xs) {
    
      &{
        font-size: 16px;
      }
    }
    @media screen and(min-width: $ms) {
    
      &{
        font-size: 25px;
      }
    }
    @media screen and (min-width: $sm) {
      & {
        font-size: 28px;
      }
    }
  }
  .line--sub{
      font-size: 12px;
      @media screen and(min-width: $xs) {
    
        &{
          font-size: 14px;
        }
      }
      @media screen and(min-width: $ms) {
    
        &{
          font-size: 20px;
        }
      }
      @media screen and (min-width: $sm) {
        &{
          font-size: 25px;
        }
      }
  }
  @media screen and(min-width: $xs) {
    
    .qoute {
      font-size: 24px;
    }
  }
  @media screen and(min-width: $ms) {
    .qoute {
      font-size: 26px;
    }
  }
  @media screen and (min-width: $sm) {
    .qoute {
      font-size: 28px;
    }
  }

}

.intro-section {
  height: 100vh;
  .name {
    color: aliceblue;
    font-size: 46px;
  }
}

.cursor{
  animation: cursor-anim .6s linear 0s infinite alternate-reverse;
}



@keyframes hero-anim {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes hero-anim {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes hero-anim {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes hero-anim {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes hero-bg-anim {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}
@-webkit-keyframes hero-bg-anim {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}
@-moz-keyframes hero-bg-anim {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}
@-o-keyframes hero-bg-anim {
  from {
    background-position: top right;
  }
  to {
    background-position: bottom left;
  }
}



@keyframes cursor-anim {
  from {
    color: transparent;
  }
  to {
    color: #fff;
  }
}
@-moz-keyframes cursor-anim {
  from {
    color: transparent;
  }
  to {
    color: #fff;
  }
}
@-o-keyframes cursor-anim {
  from {
    color: transparent;
  }
  to {
    color: #fff;
  }
}
@-webkit-keyframes cursor-anim {
  from {
    color: transparent;
  }
  to {
    color: #fff;
  }
}