.full-page{
    min-height: 100vh;
}

.container{
    margin: 0 5%;
}

.flex{
    display: flex;
}

.flex-content-spacing--center{
    justify-content: center;
}
.flex-content-align--center{
    align-items: center;
}

